<a href="https://colab.research.google.com/github/sur-sakthy/data-visualisation-project/blob/main/data/steamcharts/data_cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Code to read csv file into Colaboratory:
!pip install -U -q PyDrive
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth, files
from oauth2client.client import GoogleCredentials

# Authenticate and create the PyDrive client.
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

In [3]:
import pandas as pd

In [44]:
shareable_link = 'https://drive.google.com/file/d/1V1Oc-NnOy9mztovhr1KeQ7Z8KSqp123K/view?usp=share_link'

downloaded = drive.CreateFile({'id':'1V1Oc-NnOy9mztovhr1KeQ7Z8KSqp123K'}) 
downloaded.GetContentFile('steam_charts.csv')  
data = pd.read_csv('steam_charts.csv')
data

,Unnamed: 0,month,averagePlayers,gain,gainInPercent,peakPlayers,id,name,playingTwelveHoursAgo,twentyFourHourPeek,allTimePeek
0,0,Last 30 Days,118.16,38.60,48.50,437,1291340,Townscaper,54,93,1162
1,1,September 2022,79.56,-5.66,-6.64,384,1291340,Townscaper,54,93,1162
2,2,August 2022,85.22,-8.35,-8.93,169,1291340,Townscaper,54,93,1162
3,3,July 2022,93.58,-8.48,-8.31,208,1291340,Townscaper,54,93,1162
4,4,June 2022,102.05,-61.94,-37.77,213,1291340,Townscaper,54,93,1162
...,...,...,...,...,...,...,...,...,...,...,...
21282,119,November 2012,157.47,2.12,1.37,356,70,Half-Life,460,590,10480
21283,120,October 2012,155.35,-61.41,-28.33,345,70,Half-Life,460,590,10480
21284,121,September 2012,216.76,-19.78,-8.36,464,70,Half-Life,460,590,10480
21285,122,August 2012,236.53,-115.83,-32.87,419,70,Half-Life,460,590,10480
21286,123,July 2012,352.36,NaN,NaN,674,70,Half-Life,460,590,10480

In [45]:
data.dtypes

Unnamed: 0                 int64
month                     object
averagePlayers           float64
gain                     float64
gainInPercent            float64
peakPlayers                int64
id                         int64
name                      object
playingTwelveHoursAgo      int64
twentyFourHourPeek         int64
allTimePeek                int64
dtype: object

In [47]:
'Last 30 Days' in data['month'].unique()

True

In [48]:
data['month'] = data['month'].replace('Last 30 Days', 'October 2022')

In [49]:
'Last 30 Days' in data['month'].unique()

False

In [50]:
'October 2022' in data['month'].unique()

True

In [51]:
data.to_csv('steam_charts.csv', sep=',', encoding='utf-8')

In [52]:
files.download('steam_charts.csv')