<a href="https://colab.research.google.com/github/sur-sakthy/data-visualisation-project/blob/main/data/steamcharts/data_cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Cleaning the dataset

In [54]:
# Code to read csv file into Colaboratory:
!pip install -U -q PyDrive
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth, files
from oauth2client.client import GoogleCredentials

# Authenticate and create the PyDrive client.
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

In [55]:
import pandas as pd

Reading the dataset obtained from executing data_gathering.ipynb - to be able to manipulate the column data as necessary.

In [56]:
shareable_link = 'https://drive.google.com/file/d/1V1Oc-NnOy9mztovhr1KeQ7Z8KSqp123K/view?usp=share_link'

downloaded = drive.CreateFile({'id':'1V1Oc-NnOy9mztovhr1KeQ7Z8KSqp123K'}) 
downloaded.GetContentFile('steam_charts.csv')  
data = pd.read_csv('steam_charts.csv')
data

,Unnamed: 0,month,averagePlayers,gain,gainInPercent,peakPlayers,id,name,playingTwelveHoursAgo,twentyFourHourPeek,allTimePeek
0,0,Last 30 Days,118.16,38.60,48.50,437,1291340,Townscaper,54,93,1162
1,1,September 2022,79.56,-5.66,-6.64,384,1291340,Townscaper,54,93,1162
2,2,August 2022,85.22,-8.35,-8.93,169,1291340,Townscaper,54,93,1162
3,3,July 2022,93.58,-8.48,-8.31,208,1291340,Townscaper,54,93,1162
4,4,June 2022,102.05,-61.94,-37.77,213,1291340,Townscaper,54,93,1162
...,...,...,...,...,...,...,...,...,...,...,...
21282,119,November 2012,157.47,2.12,1.37,356,70,Half-Life,460,590,10480
21283,120,October 2012,155.35,-61.41,-28.33,345,70,Half-Life,460,590,10480
21284,121,September 2012,216.76,-19.78,-8.36,464,70,Half-Life,460,590,10480
21285,122,August 2012,236.53,-115.83,-32.87,419,70,Half-Life,460,590,10480
21286,123,July 2012,352.36,NaN,NaN,674,70,Half-Life,460,590,10480

Checking the column data types.

In [57]:
data.dtypes

Unnamed: 0                 int64
month                     object
averagePlayers           float64
gain                     float64
gainInPercent            float64
peakPlayers                int64
id                         int64
name                      object
playingTwelveHoursAgo      int64
twentyFourHourPeek         int64
allTimePeek                int64
dtype: object

## Checking the 'month' column values

In [58]:
month_sorted = sorted(data['month'].unique())
for month in month_sorted:
  print(month)

April 2013
April 2014
April 2015
April 2016
April 2017
April 2018
April 2019
April 2020
April 2021
April 2022
August 2012
August 2013
August 2014
August 2015
August 2016
August 2017
August 2018
August 2019
August 2020
August 2021
August 2022
December 2012
December 2013
December 2014
December 2015
December 2016
December 2017
December 2018
December 2019
December 2020
December 2021
February 2013
February 2014
February 2015
February 2016
February 2017
February 2018
February 2019
February 2020
February 2021
February 2022
January 2013
January 2014
January 2015
January 2016
January 2017
January 2018
January 2019
January 2020
January 2021
January 2022
July 2012
July 2013
July 2014
July 2015
July 2016
July 2017
July 2018
July 2019
July 2020
July 2021
July 2022
June 2013
June 2014
June 2015
June 2016
June 2017
June 2018
June 2019
June 2020
June 2021
June 2022
Last 30 Days
March 2013
March 2014
March 2015
March 2016
March 2017
March 2018
March 2019
March 2020
March 2021
March 2022
May 2013
May 2014
May 2015
May 2016
May 2017
May 2018
May 2019
May 2020
May 2021
May 2022
November 2012
November 2013
November 2014
November 2015
November 2016
November 2017
November 2018
November 2019
November 2020
November 2021
October 2012
October 2013
October 2014
October 2015
October 2016
October 2017
October 2018
October 2019
October 2020
October 2021
September 2012
September 2013
September 2014
September 2015
September 2016
September 2017
September 2018
September 2019
September 2020
September 2021
September 2022

In [59]:
'Last 30 Days' in data['month'].unique()

True

## Replacing 'Last 30 Days' -> 'October 2022' 
So that all data values in the ***month*** column are of a consistent format.

In [60]:
data['month'] = data['month'].replace('Last 30 Days', 'October 2022')

## Checking whether the replacement is successful or not

In [61]:
'Last 30 Days' in data['month'].unique()

False

In [62]:
'October 2022' in data['month'].unique()

True

## Exporting the cleansed dataset

In [63]:
data.to_csv('steam_charts.csv', sep=',', encoding='utf-8')

## Downloading the cleansed dataset

In [64]:
files.download('steam_charts.csv')